@font-face {
    font-family: AbhayaLibre;
    src: url(fonts/AbhayaLibre-Regular-webfont.woff);
    font-weight: 100;
}

@font-face {
    font-family: AbhayaLibre;
    src: url(fonts/AbhayaLibre-SemiBold-webfont.woff);
    font-weight: 300;
}

@font-face {
    font-family: National;
    src: url(fonts/National-Book.otf);
    font-weight: 300;
}

@font-face {
    font-family: National;
    src: url(fonts/National-Semibold.otf);
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 20px;
    font-family: AbhayaLibre, Garamond, Georgia, sans-serif;
    color: #1F5847;
    background: url(/images/back.png) no-repeat 100% -500px;
    background-size: 1000px;
}

p a,
p a:visited,
li a,
li a:visited {
    color: #111;
    text-decoration: none;
    border-bottom: 1px solid #BCDED4;
    font-weight: 300;
    transition: border 0.6s;
}

p a:hover,
p a:active,
li a:hover,
li a:active {
    border-color: #000;
    color: #000;
}

h1 {
    font-size: 56px;
    font-family: National;
    font-weight: 600;
    letter-spacing: -0.03em;
    color: #0F543F;
    margin-top: 360px;
}

b.subtitle {
    color: #c82502;
    font-family: National;
    font-weight: 300;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    margin: 2em 0 0.5em 0;
    font-family: National;
}

h3 {
    font-size: 24px;
    margin-bottom: 0.2em;
    font-weight: 600;
    margin-top: 2em;
    font-family: National;
}

h4 {
    font-size: 14px;
    font-weight: 300;
    margin: 2em 0 0.5em 0;
    color: #999;
}

p, li {
    margin-top: 0;
    line-height: 1.4;
    font-weight: 100;
}

.intro {
    font-size: 24px;
    font-weight: 100;
    line-height: 1.2em;
    margin-top: 1em;
    margin-bottom: 1.5em;
    clear: left;
}

.half {
    position: relative;
    left: 0;
    padding-top: 20px;
}

.contents {
    padding: 20px;
}

.small {
    font-size: 12px;
}

footer {
    position: absolute;
    top: 20px;
    right: 20px;
}

footer a img {
    width: 30px;
    height: 30px;
    opacity: 0.7;
    margin-right: 10px;
    transition: opacity 1s, border-color 1s;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 100px;
    padding: 5px;
    background: #fff;
}

footer a:hover img {
    opacity: 1;
    border-color: #333;
}

.features img {
    width: 90px;
    height: 90px;
    margin-right: 5px;
    border: 4px solid #fff;
}

nav {
    text-align: right;
    padding-top: 100px;
}

nav a {
    display: block;
    padding: 8px 0;
    font-family: National, sans-serif;
    font-weight: bold;
    color: #1F5847;
    text-decoration: none;
    border-bottom: 1px solid yellow;
    transition: border 0.6s; 
    float: right;
    clear: both;
    padding-right: 12px;
    margin-right: 8px;
}


nav a:hover {
    border-bottom-color: #fff;
    color: #000;
}

.feature {
    padding: 20px 20px 100px 20px;
    background: #BCDED4;
        
        h3 {
            color: #fff;
            font-size: 36px;
        }
        
        p {
            color: #5D9987;
        }
    
        .reading a strong,
        p a {
            color: #1F5847;
            text-decoration: none;
            border-bottom: 1px solid yellow;
            transition: border 0.6s;
        }
    
        .reading a:hover strong,
        a:hover {
            border-bottom-color: #fff;
        }
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    border: 16px solid #fff;
    box-sizing: border-box;
}

.reading {
    position: relative;
    padding-top: 16px;
    margin: 16px 0;
    min-height: 80px;
    line-height: 1.3;
    clear: both;
    
    a {
        text-decoration: none;
    }
    
    a strong {
        font-weight: normal;
        font-family: National;
        font-weight: 600;
        color: #1F5847;
        font-size: 22px;
    }
    
    a span {
        color: #4F8978;
        font-size: 20px;
        display: block;
        line-height: 1.3;
        padding-top: 6px;
        
    }
    
    img {
        float: right;
        margin: 0 0 20px 20px;
        height: 100px;
        width: 100px;
    }
}

hr {
    margin: 48px;
}

/* For large devices */
@media (min-width: 1000px) {
    body {
        font-size: 22px;
        background: none;
    }
    
    nav {
        display: none;
    }
    
    h1 {
        font-size: 64px;
        margin-top: 200px;
        margin-left: -2px;
    }
    
    .intro {
        font-size: 30px;
        padding-top: 0;
        line-height: 1.3;
    }
    
    .wrapper {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }
    
    .half {
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        padding: 32px;
        border-top: none;
        display: table-cell;
    }
    
    .feature {
        display: table-cell;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
    }
    
    .feature-contents {
        padding: 164px 48px 124px 48px;
    }
    
    .story {
        padding: 60px 0 40px 0;
        position: relative;
    }
    
    .story:after {
        content: ".";
        color: #fff;
        width: 9px;
        height: 9px;
        position: absolute;
        border-radius: 100px;
        border: 1px solid #BCDED4;
        background: #fff;
        top: -13px;
        left: 50%;
        margin-left: -5px;
    }
    
    .story:before {
        content: ".";
        color: #fff;
        width: 1px;
        height: 90px;
        position: absolute;
        border-radius: 100px;
        background: #BCDED4;
        top: -50px;
        left: 50%;
    }
    
    .story.first:before {
        height: 45px;
        top: -2px;
    }
    
    .reading {
        padding-left: 124px;
        
        a strong {
            font-size: 90%;
        }
        
        img {
            float: none;
            margin: 0;
            position: absolute;
            left: 0;
            top: 10px;
            transition: all 0.1s;
        }
        a:hover img {
            transform: scale(1.05);
        }
        
        .new {
            position: absolute;
            top: 4px;
            left: -6px;
            color: #fff;
            background: #FF3355;
            font-family: National, sans-serif;
            font-weight: bold;
            width: 28px;
            height: 28px;
            line-height: 28px;
            text-align: center;
            font-size: 9px;
            border-radius: 100px;
        }
        
    }
    
    #contact {
        margin-top: 100px;
    }
    
    h3 {
        font-size: 32px;
        letter-spacing: -0.01em;
        padding-top: 36px;
    }

    .contents {
        padding: 40px;
        max-width: 600px;
    }
    
    .languages {
        top: 10px;
        right: 10px;
        border: none;
        background: none;
    }
    
    .features img {
        width: 150px;
        height: 150px;
        margin: 20px 20px 0 0;
    }
    
    footer {
        top: 40px;
        right: 40px;
    }
}